@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*::before::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.btn__scroll {
  position: fixed;
  background-color: #e7e7e7;
  padding: 15px;
  border: #000000 1px solid;
  right: 30px;
  bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
.btn__scroll i {
  color: #000000;
  font-weight: 700;
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
}
.container__header a img {
  margin: auto;
  width: 270px;
}

.container__main {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
.container__main__section__search {
  margin-left: auto;
  position: relative;
  margin-right: auto;
}
.container__main__section__search__form input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: #000000;
  border: none;
  font-weight: 400;
  font-family: "Lato", "sans-serif";
  margin-top: 30px;
  font-size: 18px;
}
.container__main__section__search__form input[type=search]::-webkit-search-decoration, .container__main__section__search__form input[type=search]::-webkit-search-cancel-button, .container__main__section__search__form input[type=search]::-webkit-search-results-button, .container__main__section__search__form input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.container__main__section__search__form label i {
  position: absolute;
  right: 25px;
  top: 45px;
  color: #000000;
  font-size: 30px;
}
.container__main__section__filtered__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.container__main__section__filtered__tags__lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container__main__section__filtered__tags__lists__tags-ingredients--active {
  display: none;
  list-style: none;
  gap: 30px;
  padding-left: 5px;
  flex-wrap: wrap;
}
.container__main__section__filtered__tags__lists__tags-ingredients--active li {
  font-size: 14px;
  text-align: justify;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  background-color: #3282f7;
  padding: 15px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
}
.container__main__section__filtered__tags__lists__tags-ingredients--active i {
  padding-left: 10px;
  cursor: pointer;
}
.container__main__section__filtered__tags__lists__tags-devices--active {
  display: none;
  list-style: none;
  gap: 30px;
  padding-left: 5px;
  flex-wrap: wrap;
}
.container__main__section__filtered__tags__lists__tags-devices--active li {
  font-size: 14px;
  text-align: justify;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  color: #ffffff;
  padding: 15px;
  background-color: #68d9a4;
  border-radius: 5px 5px 5px 5px;
}
.container__main__section__filtered__tags__lists__tags-devices--active i {
  padding-left: 10px;
  cursor: pointer;
}
.container__main__section__filtered__tags__lists__tags-ustensils--active {
  display: none;
  list-style: none;
  gap: 30px;
  padding-left: 5px;
  flex-wrap: wrap;
}
.container__main__section__filtered__tags__lists__tags-ustensils--active li {
  font-size: 14px;
  text-align: justify;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  color: #ffffff;
  padding: 15px;
  background-color: #ed6454;
  border-radius: 5px 5px 5px 5px;
}
.container__main__section__filtered__tags__lists__tags-ustensils--active i {
  padding-left: 10px;
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  position: relative;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container__main__section__dropdowns__lists__items__ingredients__small {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ingredients__small {
    width: 100%;
    margin-bottom: 40px;
  }
}
.container__main__section__dropdowns__lists__items__ingredients__small input {
  font-size: 18px;
  border: none;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  background-color: #3282f7;
  border-radius: 5px 5px 5px 5px;
  text-align: justify;
  padding-left: 27px;
  width: 90%;
  height: 90%;
  color: #ffffff;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ingredients__small input {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ingredients__small input::placeholder {
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ingredients__small label i {
  position: absolute;
  color: #ffffff;
  right: 25px;
  top: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ingredients__small--active {
  display: none;
}
.container__main__section__dropdowns__lists__items__ingredients__small--active ul {
  background-color: #3282f7;
  list-style: none;
  overflow-y: auto;
  padding-left: 0px;
  height: 510px;
  position: absolute;
  top: 48px;
  left: 0px;
  width: 99.8%;
  line-height: 30px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 5px;
  z-index: 2;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ingredients__small--active ul {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ingredients__small--active ul li {
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  padding-left: 30px;
}
.container__main__section__dropdowns__lists__items__ingredients__large {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ingredients__large {
    width: 100%;
    margin-bottom: 40px;
  }
}
.container__main__section__dropdowns__lists__items__ingredients__large input {
  font-size: 18px;
  border: none;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  background-color: #3282f7;
  border-radius: 5px 5px 5px 5px;
  text-align: justify;
  padding-left: 27px;
  width: 90%;
  height: 90%;
  color: #ffffff;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ingredients__large input {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ingredients__large input::placeholder {
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ingredients__large label i {
  position: absolute;
  color: #ffffff;
  right: 25px;
  top: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ingredients__large--active {
  display: none;
}
.container__main__section__dropdowns__lists__items__ingredients__large--active ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #3282f7;
  list-style: none;
  overflow-y: auto;
  padding-left: 0px;
  height: 300px;
  position: absolute;
  top: 48px;
  left: 0px;
  width: 95.8%;
  line-height: 30px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 5px;
  z-index: 2;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ingredients__large--active ul {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ingredients__large--active ul li {
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  padding-left: 30px;
}
.container__main__section__dropdowns__lists__items__devices__small {
  height: 70px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__devices__small {
    width: 100%;
    margin-bottom: 40px;
  }
}
.container__main__section__dropdowns__lists__items__devices__small input {
  font-size: 18px;
  border: none;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  background-color: #68d9a4;
  border-radius: 5px 5px 5px 5px;
  text-align: justify;
  padding-left: 27px;
  width: 90%;
  height: 90%;
  color: #ffffff;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__devices__small input {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__devices__small input::placeholder {
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__devices__small label i {
  position: absolute;
  color: #ffffff;
  right: 25px;
  top: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__devices__small--active {
  display: none;
}
.container__main__section__dropdowns__lists__items__devices__small--active ul {
  background-color: #68d9a4;
  list-style: none;
  overflow-y: auto;
  padding-left: 0px;
  height: 240px;
  position: absolute;
  top: 48px;
  left: 0px;
  width: 99.8%;
  line-height: 30px;
  border-radius: 0px 0px 5px 5px;
  z-index: 2;
  padding-bottom: 5px;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__devices__small--active ul {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__devices__small--active ul li {
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  padding-left: 30px;
}
.container__main__section__dropdowns__lists__items__devices__large {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__devices__large {
    width: 100%;
    margin-bottom: 40px;
  }
}
.container__main__section__dropdowns__lists__items__devices__large input {
  font-size: 18px;
  border: none;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  background-color: #68d9a4;
  border-radius: 5px 5px 5px 5px;
  text-align: justify;
  padding-left: 27px;
  width: 90%;
  height: 90%;
  color: #ffffff;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__devices__large input {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__devices__large input::placeholder {
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__devices__large label i {
  position: absolute;
  color: #ffffff;
  right: 25px;
  top: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__devices__large--active {
  display: none;
}
.container__main__section__dropdowns__lists__items__devices__large--active ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #68d9a4;
  list-style: none;
  overflow-y: auto;
  padding-left: 0px;
  height: 240px;
  position: absolute;
  top: 48px;
  left: 0px;
  width: 95.8%;
  line-height: 30px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 5px;
  z-index: 3;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__devices__large--active ul {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__devices__large--active ul li {
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  padding-left: 30px;
}
.container__main__section__dropdowns__lists__items__ustensils__small {
  height: 70px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ustensils__small {
    width: 100%;
    margin-bottom: 40px;
  }
}
.container__main__section__dropdowns__lists__items__ustensils__small input {
  font-size: 18px;
  border: none;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  background-color: #ed6454;
  border-radius: 5px 5px 5px 5px;
  text-align: justify;
  padding-left: 27px;
  width: 90%;
  height: 90%;
  color: #ffffff;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ustensils__small input {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ustensils__small input::placeholder {
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ustensils__small label i {
  position: absolute;
  color: #ffffff;
  right: 25px;
  top: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ustensils__small--active {
  display: none;
}
.container__main__section__dropdowns__lists__items__ustensils__small--active ul {
  background-color: #ed6454;
  list-style: none;
  overflow-y: auto;
  padding-left: 0px;
  height: 240px;
  position: absolute;
  top: 48px;
  left: 0px;
  width: 99.8%;
  line-height: 30px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 5px;
  z-index: 2;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ustensils__small--active ul {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ustensils__small--active ul li {
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  padding-left: 30px;
}
.container__main__section__dropdowns__lists__items__ustensils__large {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ustensils__large {
    width: 100%;
    margin-bottom: 40px;
  }
}
.container__main__section__dropdowns__lists__items__ustensils__large input {
  font-size: 18px;
  border: none;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  background-color: #ed6454;
  border-radius: 5px 5px 5px 5px;
  text-align: justify;
  padding-left: 27px;
  width: 90%;
  height: 90%;
  color: #ffffff;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ustensils__large input {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ustensils__large input::placeholder {
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ustensils__large label i {
  position: absolute;
  color: #ffffff;
  right: 25px;
  top: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.container__main__section__dropdowns__lists__items__ustensils__large--active {
  display: none;
}
.container__main__section__dropdowns__lists__items__ustensils__large--active ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ed6454;
  list-style: none;
  overflow-y: auto;
  padding-left: 0px;
  height: 240px;
  position: absolute;
  top: 48px;
  left: 0px;
  width: 95.8%;
  line-height: 30px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 5px;
  z-index: 2;
}
@media screen and (max-width: 966px) {
  .container__main__section__dropdowns__lists__items__ustensils__large--active ul {
    width: 100%;
  }
}
.container__main__section__dropdowns__lists__items__ustensils__large--active ul li {
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  padding-left: 30px;
}
.container__main__section__cards {
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
@media screen and (max-width: 992px) {
  .container__main__section__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 735px) {
  .container__main__section__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 966px) {
  .container__main__section__cards {
    margin-top: 20px;
  }
}
.container__main__section__cards__recipe {
  width: 100%;
  height: 400px;
  max-width: 700px;
  background-color: #e7e7e7;
  border-radius: 5px 5px 5px 5px;
}
@media screen and (max-width: 1100px) {
  .container__main__section__cards__recipe {
    height: 420px;
  }
}
.container__main__section__cards__recipe img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border: none;
  border-radius: 5px 5px 0px 0px;
}
.container__main__section__cards__recipe__textContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  color: #000000;
}
.container__main__section__cards__recipe__textContainer__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__main__section__cards__recipe__textContainer__title h2 {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  font-family: "Lato", "sans-serif";
}
@media screen and (max-width: 1560px) {
  .container__main__section__cards__recipe__textContainer__title span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
.container__main__section__cards__recipe__textContainer__title span strong {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  font-family: "Lato", "sans-serif";
}
.container__main__section__cards__recipe__textContainer__lists {
  display: flex;
  gap: 80px;
}
.container__main__section__cards__recipe__textContainer__lists ul {
  width: 100%;
  max-height: 90px;
  overflow-y: auto;
  padding-left: 0px;
}
.container__main__section__cards__recipe__textContainer__lists ul li {
  font-size: 12px;
  color: #000000;
  font-family: "Lato", "sans-serif";
  width: 100%;
}
.container__main__section__cards__recipe__textContainer__lists p {
  font-size: 12px;
  color: #000000;
  font-family: "Roboto", "sans-serif";
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100px;
}

#no-recipes-message {
  font-weight: bold;
  position: absolute;
  left: 440px;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-family: "Lato", "sans-serif";
}

/*# sourceMappingURL=style.css.map */
